In [1]:
import pandas as pd
from os import environ
from spotify_with_yt.getting_data.yt_api_handling import YouTubeApi

In [2]:
YouTubeApi

spotify_with_yt.getting_data.yt_api_handling.YouTubeApi

In [3]:
api_service_name = "youtube"
api_version = "v3"
api_key = environ.get("youtube_api_key")

In [4]:
yt = YouTubeApi(api_service_name, api_version, api_key)

In [5]:
yt.get_channels_stats(["UC1I-wWC6QxyoV1vdAuAUGDw"])

[{'channel_id': 'UC1I-wWC6QxyoV1vdAuAUGDw',
  'view_count': 350162196,
  'subscriber_count': 448000,
  'video_count': 76,
  'date': datetime.date(2023, 3, 2)}]

In [6]:
pd.DataFrame(yt.get_video_details(["UU1I-wWC6QxyoV1vdAuAUGDw"])).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   video_id          76 non-null     object
 1   channel_id        76 non-null     object
 2   title             76 non-null     object
 3   published_at      76 non-null     object
 4   duration_seconds  76 non-null     float64
dtypes: float64(1), object(4)
memory usage: 3.1+ KB

In [7]:
pd.DataFrame(yt.get_video_stats(["UU1I-wWC6QxyoV1vdAuAUGDw"]))

       video_id  view_count  like_count  comment_count        date
0   br0Yv4mmdNw      508757       11518            412  2023-03-02
1   nFZKL6Y8FNE      901233       19906            668  2023-03-02
2   8zXff3Bj17E      547550       14651            568  2023-03-02
3   wcYTxV2FUMM      697715       19920            660  2023-03-02
4   hV462re6vWY      702938       20463            729  2023-03-02
..          ...         ...         ...            ...         ...
71  jTb_aoVjiWU     7231926       50375            776  2023-03-02
72  a9vUReZDcGU     1280311       17353            546  2023-03-02
73  Uodq2uDxnPc      583090        8603            343  2023-03-02
74  dZgUMESFAaw    10424373       65162            998  2023-03-02
75  vQkdD5w6vyE     8652747       68962           1068  2023-03-02

[76 rows x 5 columns]